<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TECH TEAM</title>
  <link rel="stylesheet" href="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\css\style.css">
  <link rel="stylesheet" href="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\css\style2.css">
</head>
<body>
<!-- partial:index.partial.html -->
<nav class="product-filter">
  <img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" height="80px" width="70px"></img>
  <h1>Home Rental</h1>
 
  <div class="sort">
    <div class="collection-sort"><label for="">Filter by:</label><select name="" id="">
        <option value="">All weights</option>
        <option value="">Lace Weight</option>
        <option value="">4-Ply</option>
        <option value="">Double Knit</option>
        <option value="">Aran Weight</option>
        <option value="">Chunky</option>
        <option value="">Super Chunky</option>
      </select></div>
    <div class="collection-sort"><label for="">Sort by:</label><select name="" id="">
        <option value="">Brand</option>
        <option value="">Lang Yarns</option>
        <option value="">Schoppel-wolle</option>
        <option value="">Hjertegarn</option>
        <option value="">Addi</option>
        <option value="">Lanartus</option>
        <option value="">Filati Bertagna</option>
        <option value="">Filatura Di Crosa</option>
        <option value="">myboshi</option>
      </select></div>
  </div>
</nav>
<section class="products">
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Kalyan Homes</h4>
      <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>categories</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
  <div class="product-card">
    <div class="product-image"><img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" alt="" /></div>
    <div class="product-info">
      <h4 class="product-name">Product Name</h4>
    <button class="button button--animated">
        <span class="button__text">View Details !!</span>
        <span class="button__icon">→</span>
    </button>
      <h5 class="product-description">Description here : 3 bhk well furnished flat , near metro station </h5>
    </div>
    <div class="product-category"><span>Brand</span></div>
  </div>
</section>
<!-- partial -->
  
</body>
</html>
