<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/Home-Rental/public/css/error.css">
    <script src="https://kit.fontawesome.com/22c25cedf2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <i class="fa-regular fa-face-frown"></i>
        <h1>404</h1>
        <h2>Page not found</h2>
        <p>Sorry, the page you are looking for does not exist or any other error occured.</p>
        <a href="/Home-Rental/views/home.ejs">Go to Homepage</a>
    </div>
</body>
</html>
