<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css'>
<link rel='stylesheet' href='https://w3learnpoint.com/cdn/jquery-picZoomer.css'>
<link rel="stylesheet" href="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\css\style.css">
<link rel="stylesheet" href="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\css\style2.css"><link rel="stylesheet" href="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\css\style3.css">

</head>
<body>
    <nav class="product-filter">
        <img src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\images\logo.png" height="80px" width="70px"></img>
        <h1>Home Rental</h1>
       
        
        </div>
      </nav>
<!-- partial:index.partial.html -->
<section id="services" class="services section-bg">
   <div class="container-fluid">
     
      <div class="row row-sm">
         <div class="col-md-6 _boxzoom">
            <div class="zoom-thumb">
               <ul class="piclist">
                <li><img src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt=""></li>
                  <li><img src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt=""></li>
                  <li><img src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt=""></li>
                  <li><img src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt=""></li>
               </ul>
            </div>
            <div class="_product-images">
               <div class="picZoomer">
                  <img class="my_img" src="https://ucarecdn.com/382a5139-6712-4418-b25e-cc8ba69ab07f/-/stretch/off/-/resize/760x/" alt="">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="_product-detail-content">
               <p class="_p-name"> Mannat Villa </p>
               <div class="_p-price-box">
                  <div class="p-list">
                     <span> R.E.N.T: <i class="fa fa-inr"></i> <del> 39999  </del>   </span>
                     <span class="price"> Rs. 6999 </span>
                  </div>
                  <div class="_p-add-cart">
                     
                  </div>
                  <div class="_p-features">
                     <span> Description About this product:- </span>
                     **Charming 2-Bedroom Flat for Rent**

Bright and modern 2-bedroom flat located in a desirable neighborhood. Features include an open-plan living area, updated kitchen with stainless steel appliances, and a stylish bathroom. Enjoy a private balcony, in-unit laundry, and ample storage space. Close to shops, cafes, and public transport. Ideal for comfortable city living. Don't miss out!                    
                  </div>
                  <form action="" method="post" accept-charset="utf-8">
                     <ul class="spe_ul"></ul>
                     <div class="_p-qty-and-cart">
                        <div class="_p-add-cart">
                           <button class="btn-theme btn buy-btn" tabindex="0">
                           <i class="fa fa-shopping-cart"></i> Contact Now
                           </button>
                           
                           <input type="hidden" name="pid" value="18" />
                           <input type="hidden" name="price" value="850" />
                           <input type="hidden" name="url" value="" />    
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="sec bg-light">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 title_bx">
            <h3 class="title"> Recent Post   </h3>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 list-slider mt-4">
            <div class="owl-carousel common_wd  owl-theme" id="recent_post">
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="details.php"> Recent Post 1 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="details.php"> Recent post 2  </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="#"> Recent post 3 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="#"> Recent Post 4 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="details.php"> Recent Post 5 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="details.php"> Recent Post 06 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="sq_box shadow">
                     <div class="pdis_img"> 
                        <span class="wishlist">
                        <a alt="Add to Wish List" title="Add to Wish List" href="javascript:void(0);"> <i class="fa fa-heart"></i></a>
                        </span>
                        <a href="#">
                        <img src="https://ucarecdn.com/05f649bf-b70b-4cf8-90f7-2588ce404a08/-/resize/680x/"> 
                        </a>
                     </div>
                     <h4 class="mb-1"> <a href="details.php"> Recent Post 06 </a> </h4>
                     <div class="price-box mb-2">
                        <span class="price"> Price <i class="fa fa-inr"></i> 200 </span>
                        <span class="offer-price"> Offer Price <i class="fa fa-inr"></i> 120 </span>
                     </div>
                     <div class="btn-box text-center">
                        <a class="btn btn-sm" href="javascript:void(0);"> <i class="fa fa-shopping-cart"></i> Add to Cart </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js'></script><script  src="C:\Users\paltr\OneDrive\Desktop\GIT CLONE\Home-Rental\public\js\script.js "></script>

</body>
</html>
