* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6482AD !important;
}


.home-section {
    position: relative;
    top: 10rem;
    max-width: 1730px;
    margin: auto;
}

table {
    background-color: #E2DAD6;
}