@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6482AD;
}

.Posts {
  position: relative;
  top: 10rem;
  padding: 40px;
  max-width: 90%;
  margin: auto;
}

.main_container {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the gap between cards as needed */
}

.col {
  flex: 1 1 calc(25% - 20px);
  /* 25% width minus the gap */
  max-width: calc(25% - 20px);
  /* Ensure it doesn't exceed 25% minus the gap */
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: 500px;
  background-color: #E2DAD6;
  border: solid 1px black;
  border-radius: 10px;
}

.card_image img {
  width: 100%;
  height: 250px;
}

.card_content {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
}

.buttons {
  text-align: center;
}

.category {
  text-transform: uppercase;
  font-size: 20px;
  color: #797979;
}

.bx {
  position: relative;
  top: 2px;
  font-size: 22px;
  margin-right: 6px;
}

.name {
  font-size: 30px;
}

.button {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  text-size-adjust: 100%;
  color: rgb(68, 2, 64);
}