@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6482AD;
}

/* .product-filter {
  display: flex;
}

.product-filter h1 {
  flex-grow: 1;
  font-size: 1.75em;
  font-weight: 300;
}

.sort {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10rem;
}

.sort label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  padding-right: 1em;
} */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10rem auto;
  width: 90%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-card {
  flex: 0 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.product-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.product-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  flex-grow: 1;
  overflow: hidden;
}

.product-name,
.product-address,
.product-description {
  text-align: center;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  margin-top: 10px;
}



@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .product-card:first-child,
  .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}